@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=M+PLUS+2:wght@200&family=Patua+One&family=Poppins:wght@300&family=Roboto&family=Roboto+Condensed:ital,wght@1,300&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg{
    background-image: linear-gradient(to right, pink,yellow);
}

.title{
    font-size: 30px;
    margin-bottom: 15px;
    font-family: 'Patua One', cursive;
}

.title_content{
    margin-top: 80px!important;
}
p{
    line-height:1.8rem;
}

.amount{
    color: rgb(248, 95, 95);
}




